# <span style="color:red"> Lecture 19 - More on Time Series </span>

In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [3]:
# load in data
df_financial = pd.read_csv("data_raw/financial.csv")

# convert to datetime format
df_financial["date"] = pd.to_datetime(df_financial["date_str"])

# <span style="color:red"> I. Date Formatting  </span>

<font size = "4">

Convert to string (a)


- A format code ```%``` is used to denote date formats
- Useful when working with text data

$\quad$ <img src="figures/wildcards_fig1.png" alt="drawing" width="300"/>

- Can access the ``.strftime()`` (string format time) method for the "date" column as follows:

In [ ]:
# Grab column (Pandas Series)


# Access the collection of "DatetimeProperties" methods/attributes


# Use the ".strftime" method from that collection

<font size = "4">

Let's add two columns:

- One called "month_str" which indicates what month the data in the row was taken from
- One called "week_str" which indicates what week the data in the row was taken from (roughly 52 weeks per year)

<font size = "4">

Convert to string (b)

$\quad$ <img src="figures/wildcards_fig2.png" alt="drawing" width="400"/>

<font size = "4">

Let's add two columns:

- One called "month_name" which indicates what month the data in the row was taken from
- One called "weekday_name" which indicates what week the data in the row was taken from (roughly 52 weeks per year)

<font size = "4">

- We can also insert format codes inside custom strings.
- Internally it will "fill-in-the-blank" with the corresponding information
- You can use commas, dashes (--), slash (/) or other characters

<font size = "4">

**Exercise:**

- Create a new column called "date_test" <br>
  which has the format using ```.dt.strftime()```
  
$\quad$ ```Monday, December 31, 2023 ```

In [ ]:
# Write your own code

<font size = "4">

When you use ``pd.to_datetime``, Pandas tries to **guess** the correct format automatically. It usually works, but it's good practice to explicitly give the format of the date to Pandas for two reasons:

- If you give Pandas the format, it makes for quicker code, because Pandas can skip the "guess the format" part.

- It can sometimes guess wrong: Does "6/10/2025" mean June 10th, 2025 or October 6th, 2025?

In [6]:
# Combine format codes + characters depending on the input
# Can include spaces, commas, "/", "-" or any other formatting
# Be careful to include the format code letters in upper or lower case 
# depending on the intended format

<font size = "4">

**Exercise:**

- Parse the column "data_ex3" using ``pd.to_datetime()``, including the "format" argument.
- Take a close look at the formatting

HINT: Refer to the table of format codes <br>
 in the previous section

In [7]:
# your code here

# <span style="color:red"> II. Grouping  </span>

<font size = "4">

- In our DataFrame, we have a different date in each row.

- If we tried to use ``.groupby()``, it wouldn't really do any grouping, since all the dates are unique.

- But we **should** be able to group by date: for example, group by year, group by month, group by day of the week.

- To do this we need another method: ``pandas.Grouper()``

In [8]:
# In "freq" specify the letter for the level of aggregation
# There are also more advanced options!

<font size = "4">

See the [Pandas Documentation](https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#offset-aliases) for a list of strings that can be used for the "freq" argument

In [ ]:
# Group on the period column
# We use a wrapper () to split the command into multiple lines
# The ".reset_index()" option ensures that the grouper is
# converted to a column. This is important for plotting.
# There's a lot of options too

In [ ]:
# Plot the monthly average

<font size = "4">

**Exercise:**

- Compute an aggregate dataset which computes the standard <br>
deviation of the S&P 500 at the **weekly** level.
- Generate a line plot with your results

In [ ]:
# your code here

# <span style="color:red"> III. Pivoting/Melting  </span>

<font size = "5">

Wide and long format

<font size = "4">

Data can come in a wide variety of formats

- Few rows, multiple columns (wide)
- Stacked rows, few columns (long)
- The **information** is the same!
- Wide format is usually more convenient for humans
- Long format is usually more convenient for coding

<font size = "4">

Wide to long
$\quad$ <img src="figures/melt_fig.png" alt="drawing" width="550"/>

We can convert from "wide format" to "long format" using ``pandas.melt``. We need to specify:

- var_name : Just a string naming the variable column
- value_name : A string naming the value column
- id_vars : The column(s) that should be used as the **identifier** variable.
- value_vars : The columns that should be combined into the single variable column

In [10]:
display(df_financial[["date", "sp500", "djia"]])

           date    sp500      djia
0    2018-04-04  2644.69  24264.30
1    2018-04-05  2662.84  24505.22
2    2018-04-06  2604.47  23932.76
3    2018-04-09  2613.16  23979.10
4    2018-04-10  2656.87  24408.00
...         ...      ...       ...
1300 2023-03-29  4027.81  32717.60
1301 2023-03-30  4050.83  32859.03
1302 2023-03-31  4109.31  33274.15
1303 2023-04-03  4124.51  33601.15
1304 2023-04-04  4100.60  33402.38

[1305 rows x 3 columns]

In [11]:
# convert to "long" format

financial_long = ...

In [ ]:
display(financial_long)
print()
display(financial_long.sort_values(by = "date"))

In [ ]:

# compute average of sp500 and Dow Jones from original DataFrame
df_means = df_financial[["sp500", "djia"]].mean()

display(df_means)

# compute average of sp500 and Dow Jones from long format
df_means2 = (financial_long.
    groupby("portfolio_type")["portfolio_value"].mean())

display(df_means2)

<font size = "4">

What's the point?

Imagine we had a DataFrame containing the following market indexes:

- S&P 500
- Dow Jones Industrial Average
- Nasdaq Composite
- DAX PERFORMANCE-INDEX
- FTSE 100 Index
- CAC 40
- Nikkei 225
- Hang Seng Index
- Brazil Stock Exchange Index
- MOEX Russia Index

Here's how we would compute the average of each index for (a) wide format, and (b) long format

In [ ]:
# Hypothetical situation. 
# These dataframes don't exist, so we won't run this code
run_cell = False

if run_cell:
    # wide format
    df_hypothetical[["sp500", "djia", "nasdaq", "DAX-perf", 
        "FTSE", "CAC40", "Nikkei", "Hang_Seng", "Brazil_SE", 
        "MOEX_Russia"]].mean()

    # after converting to long format
    (hypothetical_long.
        groupby("portfolio_type")["portfolio_value"].mean())

<font size = "4">

Long to wide
$\quad$ <img src="figures/pivot_fig.png" alt="drawing" width="550"/>

We can convert from "long format" to "wide format" using ``pandas.pivot``. We need to specify:

- columns : The column we should use to make the new DataFrame's columns.
- values : The column(s) we should use to fill in the values of the new DataFrame's columns 
- index : The column that should be used as the new DataFrame's **index** column

In [ ]:
display(financial_long)

In [ ]:
financial_wide = ...

# If you also want the index to be part of the dataset add
# ".reset_index()" to the end of the previous command

display(financial_wide)

<font size = "4">

**Exercise:**

In the cell below, we'll add the "percentage growth" columns from Lecture 18.

- Convert the "growth_sp500" and
"growth_djia" to long format using ``.melt()``

- Convert back to wide format using ``.pivot()``

In [ ]:
df_financial["growth_djia"] = (df_financial["djia"].diff()
         / df_financial["djia"].shift(1) )* 100

df_financial["growth_sp500"] = (df_financial["sp500"].diff()
         / df_financial["sp500"].shift(1) )* 100

In [ ]:
# your code here