# <span style="color:red"> QTM 151 - Practice Quiz </span>

<font size = 5>

**Submit as an HTML file** (see images below)

<font size = 3>

Step 1: Click the 3 dots in the toolbar for "More Actions"

<img src="practice_quiz_figures/step1.png" alt="drawing" width = "600"/>

***
Step 2: Choose "export"

<img src="practice_quiz_figures/step2.png" alt="drawing" width = "600"/>

***
Step 3: Select "HTML" from the dropdown window

<img src="practice_quiz_figures/step3.png" alt="drawing" width = "600"/>

***
Step 4: Select "Export" in the pop-up window.

<img src="practice_quiz_figures/step4.png" alt="drawing" width = "300"/>

Upload the .html file as your submission

<font size="5"> 

Print your name below

In [ ]:
# Write your answer here

print( )

<font size = "5" >
This quiz is open book 

- You can use the lecture notes
- You will get partial credit for attempting the questions
- To get full credit, the code should work as intended
- You should <span style="color:red"> NOT </span> communicate with other students

Print the following message: <br>

"I will abide by Emory's code of conduct"

In [ ]:
# Write your answer here:
print( )

<font size = "5">

Load in any necessary libraries/packages below:

In [ ]:
# load in necessary packages/libraries

<font size = "5">

Preliminary check: can you load the data?

<font size = "3">

In the .zip file you opened, there is a comma-separated values file named<br> "HeightWeight-quiz.csv". Using Pandas, create a DataFrame object by reading in this file.

If you get an error, you must figure out what the issue is.

**Note**: This cell is just to test whether you can access the data correctly. If everything works, you can copy and paste the code later in the notebook if you prefer.

In [ ]:
# create a DataFrame by loading in the data
# You will need this for questions later.

<font size = "5">

(a) Making changes to a for loop

<font size = "3">

How would you change the code below, so that it prints out the position in the list of each non-numerical item it encounters?

Implement those changes, and run the code cell

In [ ]:
### Make changes to the code below

list_mixed = [1, 2, None, None, 4, 11, "Apple", 2.2, 13, "!!!", None]

list_sum = 0
for value in list_mixed:
    if (type(value) != int) and (type(value) != float):
        print("Warning: Non-numerical element in list!")
        continue

    list_sum = list_sum + value

print(list_sum)

<font size = "5">

(b) Debugging code
<br>

<font size = "3">

Below is a code which attempts to compute the sum $$1 + 2 + 3 + \cdots + (n-1) + n$$ for a positive integer $n$. For this example, we set $n = 10$. In this case, we would expect the output to be:
$$ 1 + 2 + 3 + \cdots + 9 + 10 = \frac{10\times 11}{2} = 55$$

but that is not what is printed out when we run the cell below. Find the error in the code, and fix it. Then re-run the cell with $n = 19$, which should print the number
$$ \frac{19\times 20}{2} = 190$$

In [ ]:
# Find the error and fix it.
# Then run the cell after setting n = 19
n = 10

sum_n = 0
for summands in range(n):
    sum_n = sum_n + summands

print(sum_n)

<font size = "5">

c) Extracting and sorting subsets of data

<font size = "3">

In the .zip file you opened, there is a comma-separated values file named<br> "HeightWeight-quiz.csv". Using Pandas, create a DataFrame object by reading in this file.

Extract rows 345 through 397 (that is, all the rows 345, 346, 347, ..., 396, 397) of the DataFrame, saving it as another DataFrame. Then sort this subset by Height (lowest to highest), assigning it to a DataFrame called ``subset_sorted``

In [ ]:
# Write your answer here:

<font size = "5">

(d) Filtering a data set
<br>

<font size = "3">

Create two DataFrames containing the following subsets of the data:

- People who weight satisfies $115 \leq \textrm{weight} \leq 140$ (in pounds)
- People who either i) weigh strictly less than 95 pounds **or** ii) are 72 inches or taller (greater than or equal to 72 inches)

In [ ]:
# Write your answer here:

<font size = "5">

(e) Random Assignment

<font size = "3">

We want to divide the dataset into 3 groups randomly: group A, group B, group C

Randomly assign each person in the dataset one of three possible strings: ``"A"``, ``"B"``, or ``"C"``. Add a column/variable to the DataFrame which contains the letter each person is assigned. Give the column/variable the name ``"Group"``

**Hint**: Randomly choosing among 3 strings is not much different from randomly choosing among 4 numbers, which is what we did in Lecture 11

In [ ]:
# Write your answer here:

<font size = "5">

(f) Plotting data from one the groups

<font size = "3">

Create a new DataFrame by extracting all rows corresponding to Group B. Then make a scatter plot of height vs. weight (height on horizontal axis, weight on vertical axis) for the people in this group.

Give appropriate labels to the axes and give your scatter plot a reasonable title.

In [ ]:
# Write your answer here:

<font size = "5">

(g) Convert your notebook to .html

<font size = "3">

Convert your notebook to .html format. You will be expected to submit your quiz in this format, so now is the time to make sure you can do it. Instructions are at the top of this notebook.

**A small point deduction will be taken off for submissions in the wrong format**